.info-box {
    display: block;
    right: 200px;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: #eee;
    background-color: #eee;
    margin: 10px;
    padding: 5px;
}
